.flex-full-height {
  flex: 1;
  display: flex;
  flex-direction: column;
}
.table-wrapper {
  .flex-full-height();
  .ant-table-wrapper {
    .flex-full-height();
    .ant-spin-nested-loading {
      .flex-full-height();
      .ant-spin-container {
        .flex-full-height();
        justify-content: space-between;
        .ant-table {
          height: 680px;
          overflow-y: auto;
          overflow-x: hidden;
        }
        ul {
          display: flex;
          justify-content: flex-end;
          align-items: flex-end;
          flex: 1;
        }
      }
    }
  }
}
